{% extends 'kebabs/base_kebabs.html' %}

{% include staticfiles %}

{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/kebabs/view-menu">Food</a> <span class="divider">/</span></li>
		<li class="active">Orders</li>
	</ul>
	<div class="page-header">
		<h1>My Orders</h1>
	</div>
	<p>From this page you can review your current cart and browse a list of your past orders.</p>
	<h3>Your Cart</h3>
	<div>
		{% if request.session.cart %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Item Details</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
			{% for item in request.session.cart %}
				<tr>
					<td> {{item.0.Food_name}}<br><small>{{ item.0.Basic_ingredients }}</small></td>
					<td>{{ item.1 }}</td>
					<td>${{ item.0.Price }} </td>
					<td><a href="#" onclick="removeItem()" ><i class="icon-remove" style="font-size: 20px"></i></a></td>
					<form action="/kebabs/remove-item/" method="post" id="remove-item">
						{% csrf_token %}
						<input type="hidden" name="item_id" value="{{forloop.counter0}}">		
					</form>		
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<script>
			function removeItem()
			{
				document.forms["remove-item"].submit()
			}
		</script>
		<p class="pull-right">Subtotal: ${{totalcost}}</p>
		<div class="clearfix"></div>
		<p class="pull-right">Delivery: $0.00</p>
		<div class="clearfix"></div>
		<p class="pull-right"><strong>Total (incl. GST): ${{totalcost}}</strong></p>
		<div class="clearfix"></div>
		<a href="/kebabs/empty-cart" class="btn btn-primary pull-left">Clear my Cart</a>
		<a href="/kebabs/get-details" class="btn btn-primary pull-right">I'm ready to continue »</a>
	</div>

	{% else %}
		<p class="pull-left"><strong>You have nothing in your shopping cart!</strong></p>
	{% endif %}	

	<div class="clearfix"></div>
	<hr>

	<div class="food-menu">
		<h3>Order History</h3>
		
		{% if orderlist %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Date</th>
					<th>Location</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orderlist %}
				<tr>
					<td><a href="http://www.studydrone.com/kebabs/view-individual-order/{{order.id}}">{{ order.id }}</a></td>
					<td> {{ order.Order_date|date:"j F, Y" }} </td>
					<td> {{ order.Delivery_point }}</td>
					<td> ${{ order.Total_cost }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p class="pull-left"> You have no orders.. </p>
		{% endif %}

	</div>


</div>
<!-- /main -->

{% endblock %}

{% block functions %}
{% endblock %}
