{% extends 'kebabs/base_kebabs.html' %}

{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="http://www.studydrone.com/kebabs/">Food</a> <span class="divider">/</span></li>
		<li><a href="http://www.studydrone.com/kebabs/my-orders">Orders</a> <span class="divider">/</span></li>
		<li class="active">{{ order.id }}</li>
	</ul>

	<div class="page-header">
		<h1>View Order</h1>
	</div>

	<p>From this page you can review your order and then confirm and pay for it if everything is correct.</p>

	<h3>Order Summary</h3>

	<dl class="dl-horizontal">
		<dt>Delivery date</dt>
		<dd>{{ order.Order_date|date:"j F, Y" }}</dd>
		<dt>Deliver to</dt>
		<dd>{{ order.Delivery_point }}</dd>
		{% if order.Delivery_instruction %}
		<dt>Delivery instructions</dt>
		<dd> {{ order.Delivery_instruction }} </dd>
		{% endif %}
		<dt>Total Cost</dt>
		<dd>${{ order.Total_cost }}</dd>
		<dt>Payment Method</dt>
		<dd>{{order.Payment_method}}</dd>
		<dt>Order ID</dt>
		<dd>{{ order.id }}</dd>
	</dl>
	{% comment %}
	<dl class="dl-horizontal">
		<dt>Delivery time</dt>
		<dd>9th Sep 2013 01:00pm</dd>
		<dt>Deliver to</dt>
		<dd>Engineering Cafe</dd>
		<dt>Delivery instructions</dt>
		<dd>"Deliver it in a plain box with a dinosaur drawn on the side."</dd>
		<dt>Total Cost</dt>
		<dd>$12.00</dd>
		<dt>Payment Method</dt>
		<dd>Credit card</dd>
		<dt>Order ID</dt>
		<dd>1824</dd>
	</dl>
	{% endcomment %}

	<h3>Order Details</h3>

	{% if order_items %}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Item Details</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{% for item in order_items %}	
			<tr>
				<td>{{ item.food_item.Food_name }}<br><small>{{ item.food_item.Basic_ingredients }} {{ item.food_item.Additional_ingredients }}</small></td>
				<td>{{ item.Quantity }}</td>
				<td>${{ item.Cost }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		There are no order items..
	{% endif %}

	{% if order_items %}
	<p class="pull-right">Subtotal: ${{ order.Total_cost }}</p>
	<div class="clearfix"></div>
	<p class="pull-right">Delivery: $0.00</p>
	<div class="clearfix"></div>
	<p class="pull-right"><strong>Total (incl. GST): ${{ order.Total_cost }}</strong></p>
	{% endif %}
<!--	
	<div class="clearfix"></div>
	<a data-toggle="modal"  href="../view-confirmation" class="btn btn-success pull-right">Checkout This Order</a>
-->

</div>
<!-- /main -->
{% endblock %}

