{% extends 'kebabs/base_kebabs.html' %}


{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
  <ul class="breadcrumb">
	<li><a href="#">Food</a> <span class="divider">/</span></li>
	<li class="active">Menu</li>
  </ul>
  <div class="page-header">
	<h1>View Menu</h1>
  </div>


  <p>From this page you can browse the Uni Bros menu and add items to your current order.</p>
  


{# the menu Grid #}
{% if food_items %}
	<div class="food-menu">
		<h3>Menu</h3>
		{% for food in food_items %}
			{% cycle '1' '2' '3' as counter silent%}
			{% if counter == '1' %}
					<div class="row-fluid">	
			{% endif %}
					<div class="span4" data-toggle="modal"  href="#modal-menu-item-{{ food.id }}" >
					<div class="well">
		 				<img src="{{MEDIA_URL}}{{food.Food_picture}}" alt="" style="width: 100%;">
		  				<span><strong>{{ food.Food_name }}</strong></span><br>
		  				<span><small>{{ food.Price }}</small></span>
					</div>
	  				</div>
			{% if counter == '3' %}
					</div>
			{% endif %}

		{% endfor %}
		{% if counter != '3' %}
			</div>
		{% endif %}
		<hr>
		<a href="/kebabs/get-details" class="btn btn-primary pull-right">I'm ready to checkout »</a>
	</div>
{% endif %}

{# food menu #}
<!-- food-menu -->
{% if food_items %}
	{% for food in food_items %}

		<div id="modal-menu-item-{{ food.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-study-label" aria-hidden="true">
			<div class="modal-header">
			 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  	<h3 id="modal-menu-item-{{ food.id }}-header">Add to order...</h3>
			</div>
			<div class="modal-body">
			  	<div id="modal-menu-item-{{ food.id }}-main">
				  	<img class="pull-left" src="{{MEDIA_URL}}{{food.Food_picture}}" alt="" style="width: 240px; height: 240px; margin-right: 12px;">
				 	<h3><strong>{{ food.Food_name }}</strong></h3>
				  	<strong><span>$</span><span id="modal-menu-item-{{ food.id }}-cost">{{ food.Price }}</span></strong>
				  	<p>Ingredients list goes here.</p>
					<abbr title="PUT IT HERE">Hover for dietary/allergy information.</abbr>
			  	</div>
			  	<div style="display: none;" id="modal-menu-item-{{ food.id }}-customize">
				  	<p>How many of these would you like to add to your order?</p>
				  	<div class="controls">
						<select name="quantity" id="modal-menu-item-{{ food.id }}-quantity">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
				 	</div>
				  
				 	<hr>
				  
					<p>Would you like to <strong>add</strong> any extra ingredients to this order?</p>
				  	<div id="modal-menu-item-{{ food.id }}-add" class="controls">
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-add-1" type="checkbox"> Lettuce
						</label>
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-add-2" type="checkbox"> Mushrooms
						</label>
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-add-3" type="checkbox"> Pepper
						</label>
				  	</div>
				  
				  	<hr>
				  
				 	<p>Would you like to <strong>remove</strong> any ingredients from this order?</p>
				  	<div id="modal-menu-item-{{ forloop.counter0 }}-remove" class="controls">
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-remove-1" type="checkbox"> Lettuce
						</label>
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-remove-2" type="checkbox"> Mushrooms
						</label>
						<label class="checkbox">
							<input id="modal-menu-item-{{ food.id }}-remove-3" type="checkbox"> Pepper
						</label>
				  	</div>
				  
				</div>
			</div>
			<div class="modal-footer">
			  	<div id="modal-menu-item-{{ food.id }}-actions-normal">
					<p id="modal-menu-item-{{ food.id }}-customizations" class="pull-right"></p>
					<div class="clearfix"></div>
					<p id="modal-menu-item-{{ food.id }}-total" class="pull-right">1 x {{ food.Price }} = <strong>${{ food.Price }}</strong></p>
					<div class="clearfix"></div>
					<a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</a>
					<a href="#" onclick="customizeItem({{ food.id }}); return false;" class="btn btn-primary">Customize This Item</a>
						<a href="#" onclick="submitFoodId({{food.id}});" class="btn btn-success">Add to Order</a>
					{# submit to cart forms #}
					<form id="form-food-{{food.id}}" action="/kebabs/add-menu-item/" method="post">
						{% csrf_token %}
						<input name="menu-origin" id="kebabs-origin" style="display: none" class="span12" type="text"  value="1">
						<input name="food-quantity"  id="kebabs-quantity-input" style="display: none" class="span12" type="text" value="1">
						<input name="food-id" style="display: none" class="span12" type="text"  value="{{ food.id }}">
					</form>
					<script>
					function submitFoodId(foodid) 
					{
						document.forms["form-food-" + foodid].submit();
					}
					</script>
			  	</div>
			  	<div style="display: none;" id="modal-menu-item-{{ food.id }}-actions-customize">
				  	<a href="#" onclick="doneCustomizing({{ food.id }}, false); return false;" class="btn btn-danger">Go Back</a>
				  	<a href="#" onclick="doneCustomizing({{ food.id }}, true); return false;" class="btn btn-success">Done Customizing</a>
			  	</div>
			</div>
	  	</div>
  {% endfor%}
{% endif %}
<!-- /food-menu -->


 
</div>
<!-- /main -->
{% endblock %}

{% block functions %}
	<script>
$(function() {
    var projects = [
      {
        value: "0",
        label: "Beef Kebab",
        desc: "Beef, Lettuce, Cheese"
      },
      {
        value: "1",
        label: "Chicken Burger",
        desc: "Chicken, Lettuce, Mayo"
      }
    ];
 
    $( "#project" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        $( "#project-id" ).val( ui.item.value );
 
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "<br>" + item.desc + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  
  <script>
	function customizeItem(whichModal) {
	  $("#modal-menu-item-" + whichModal + "-main").hide();
	  $("#modal-menu-item-" + whichModal + "-customize").show();
	  
	  $("#modal-menu-item-" + whichModal + "-actions-normal").hide();
	  $("#modal-menu-item-" + whichModal + "-actions-customize").show();
	};
	function doneCustomizing(whichModal, success) {
	  if (success) {
		var addLettuce = $("#modal-menu-item-" + whichModal + "-add-1").is(':checked');
		var addMushrooms = $("#modal-menu-item-" + whichModal + "-add-2").is(':checked');
		var addPepper = $("#modal-menu-item-" + whichModal + "-add-3").is(':checked');
		
		var removeLettuce = $("#modal-menu-item-" + whichModal + "-remove-1").is(':checked');
		var removeMushrooms = $("#modal-menu-item-" + whichModal + "-remove-2").is(':checked');
		var removePepper = $("#modal-menu-item-" + whichModal + "-remove-3").is(':checked');
		
		if (addLettuce && removeLettuce) {
		  alert("Error: #modal-menu-item-add-1 && #modal-menu-item-remove-1");
		  return;
		}				
		if (addMushrooms && removeMushrooms) {
		  alert("Error: #modal-menu-item-add-2 && #modal-menu-item-remove-2");
		  return;
		}				
		if (addPepper && removePepper) {
		  alert("Error: #modal-menu-item-add-3 && #modal-menu-item-remove-3");
		  return;
		}
		
		var quantity = $("#modal-menu-item-" + whichModal + "-quantity").val();
		$("#quantity-input").val(quantity);
		$("#quantity-input").attr('value', quantity);
		var perItem = $("#modal-menu-item-" + whichModal + "-cost").text();
		
		var addHTML = null;				
		if (addLettuce || addMushrooms || addPepper) {
		  addHTML = "<strong style='color: #51a351'>Add ";
		  
		  if (addLettuce) addHTML += "Lettuce, ";
		  if (addMushrooms) addHTML += "Mushrooms, ";
		  if (addPepper) addHTML += "Pepper, ";
		  
		  addHTML = addHTML.slice(0, -2);
		  addHTML += "</strong>";
		}
		else {
		  addHTML = "";
		}
		
		var removeHTML = null;
		if (removeLettuce || removeMushrooms || removePepper) {
			removeHTML = "<strong style='color: #ED4035'>Remove ";
		  
			if (removeLettuce) removeHTML += "Lettuce, ";
			if (removeMushrooms) removeHTML += "Mushrooms, ";
			if (removePepper) removeHTML += "Pepper, ";
		  
			removeHTML = removeHTML.slice(0, -2);
			removeHTML += "</strong>";
		}
		else {
			removeHTML = "";
		}
		
		var costHTML = quantity + " x " + perItem + " = <strong>$" + parseFloat(Math.round(quantity*perItem * 100) / 100).toFixed(2) + "</strong>";
		
		$("#modal-menu-item-" + whichModal + "-customizations").html(addHTML + (addHTML && removeHTML ? ", " : " ") + removeHTML);
		$("#modal-menu-item-" + whichModal + "-total").html(costHTML);
		
	  }
	  
	  $("#modal-menu-item-" + whichModal + "-main").show();
	  $("#modal-menu-item-" + whichModal + "-customize").hide();
	  
	  $("#modal-menu-item-" + whichModal + "-actions-normal").show();
	  $("#modal-menu-item-" + whichModal + "-actions-customize").hide();
	  
	};
  </script>
{% endblock %}
