{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}Create Groups{% endblock %}

{% block primary %}

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/notes/view-notes">Notes</a> <span class="divider">/</span></li>
		<li><a href="/notes/view-notes">Create Groups</a> <span class="divider">/</span></li>
	</ul>

	<div class="page-header">
		<h1>Create Groups</h1>
	</div>
		Form to create groups

		Return to groups home

</div>

{% endblock %}

{% block secondary %}


{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });
</script>

{% endblock %}

