{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}My Dashboard{% endblock %}

{% block primary %}

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li class="active">Home</li>
	</ul>

	<div class="page-header">
		<h1>My Dashboard</h1>
	</div>
	
	<h3>Welcome back, {{request.user.first_name}} {{request.user.last_name}}!</h3>
	<p>You last logged in {{request.user.last_login}}.</p>
	<hr>
	
	<h3>Recent Messages</h3>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="uploaded-table-col">From</th>
				<th class="uploaded-table-col">Title</th>
				<th class="uploaded-table-title">Message</th>
				<th class="uploaded-table-col">When</th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
			<tr>
				<td><a>{{message.message.sender}}</a></td>
				<td>{{message.message.title}}</td>
				<td>{{message.message.body}}</td>
				<td>{{message.message.message_time}}</td>
			</tr>
				{% endfor %}
			</tbody>
		</table>
		
	<hr>
	
	<h3>Recent Notes Uploads</h3>
	
		<div class="upload-table">
		
				{% if notes %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="uploaded-table-title">Title</th>
                            <th class="uploaded-table-col">Upload Date</th>
                            <th class="uploaded-table-col">User</th>
                            <th class="uploaded-table-col">Actions</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for note in notes %}
                            <tr>    
                                {# title #}
                                <td>
                                    <form id="form-goto-note-{{note.id}}" action="/notes/view-individual-note/" method="post">
                                        {% csrf_token %}
                                        <input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
                                        <a href="#" onclick="submitGoToNoteId({{note.id}});">
                                            {{note.title}}
                                        </a>
                                    </form>
                                </td>
                                {# upload date #}
                                <td>{{note.upload_time}}</td>
                                {# download count #}
                                <td>{{note.download_count}}</td>
                                {# action buttons #}
                                <td>
									<form id="form-edit-note-{{note.id}}" action="/notes/edit-note/" method="post">
										{% csrf_token %}
										<input style="display: none" class="span12" type="text" name="note_id" value="{{ note.id }}">
										<a href="#" onclick="submitEditNote({{note.id}});"> <i class="icon-edit"></i> Edit</a><br>
									</form>
                                    <form id="form-delete-note-{{note.id}}" action="/notes/delete-note/" method="post">
                                        {% csrf_token %}
                                        <input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
                                        <a href="#" onclick="submitDeleteNote({{note.id}});" class="icon-ban-circle">
                                            Remove
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p> No notes uploaded </p>
                {% endif %}
			</div>
			
			<hr>
			
			<h3>Hungry?</h3>
			<p>Our kebab menu is <a href="/kebabs">right this way</a>.</p>
</div>

{% endblock %}

{% block secondary %}

<div class="span3 section-right">
	<ul class="nav nav-list nav-related-notes">
		<li class="nav-header">
		MY GROUPS
		</li>
		{% for group in groups %}
		<li>
		<p><a href="/notes/view-individual-group/{{group.id}}">{{group.name}}</a></p>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });

	function submitDeleteNote(noteid) 
	{
		document.forms["form-delete-note-" + noteid].submit();
	}   
	function submitEditNote(noteid) 
	{
		document.forms["form-edit-note-" + noteid].submit();
	}   

</script>

{% endblock %}

