{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}Edit Notes{% endblock %}

{% block primary %}

<div class="span7 section-center">
        <ul class="breadcrumb">
                <li><a href="/notes">Notes</a> <span class="divider">/</span></li>
                <li class="active">Edit</li>
        </ul>

        <div class="page-header">
                <h1>Edit Notes</h1>
        </div>
		
		<p>From this page you can update notes that you've already uploaded.</p>
		
		<!-- Settings form -->
		
		<!-- <form class="form-horizontal" action="/notes/edit-notes" method="post" id="upload-notes" enctype="multipart/form-data"> {% csrf_token %}
    <fieldset> -->	
      <div id="legend">
        <legend class="">Details</legend>
      </div>
 
     
        <form id="edit-notes-{{note.id}}" action="/notes/edit-notes/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
          <div class="control-group">
             <label class="control-label" for="search-include">Edit description:</label>
             <div class="controls">
              {{form.description}}
              {{form.description.errors}}
            </div>
          </div>
          <div id="legend">
        <legend class="">Upload</legend>
      </div>
    
      <div class="control-group">
        <div class="controls">
        <p>Select a file to upload. Files can be of any format but <strong>cannot be executable</strong>. Uploading copyrighted material is punishable by death.</p><br>

         {{form.note_file}}
         {{form.note_file.errors}}
    <p><small>Maximum filesize 10 MB.</small></p>
        </div>
      </div>

      <div id="legend">
        <legend class="">Permission</legend>
      </div>
    
        <div class="control-group">
          <label class="control-label" for="search-exclude">Permission public:</label>
          <div class="controls">
            {{form.permission_public}}
            {{form.permission_public.errors}}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="search-exclude">Permission group:</label>
          <div class="controls">
            {{form.permission_group}}
            {{form.permission_group.errors}}
          </div>
        </div>
        
       
        
      <!-- submit/cancel buttons -->
      <div class="form-actions">
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary" onclick="submitEdit({{note.id}});">Upload these notes</button>
      </div>
 
    <!-- </fieldset> --> 
  </form>

</div>

{% endblock %}

{% block secondary %}


{% endblock %}

{% block functions %}

<script>
  
  function submitEdit(noteid)
  {
    document.forms["edit-notes-" + noteid].submit();
    }   
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });


    

</script>

{% endblock %}

