{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}Home{% endblock %}

{% block menu %}

        <div class="span2 section-left">
          <ul class="nav nav-list">
            
            <li class="nav-header">Notes</li>
            <li><a href="/notes"><i class="icon-home icon-fixed-width"></i>Home</a></li>
            <li><a href="/notes/view-notes"><i class="icon-book icon-fixed-width"></i>Notes</a></li>
            <li class="nav-header">Groups</li>
			{% for group in groups %}
				<li><a href="/notes/view-individual-group/{{group.id}}"><i class="icon-group icon-fixed-width"></i>{{group.name}}</a></li>
			{% endfor %}
            <li class="nav-header">Rewards</li>
            <li><a href="/kebabs"><i class="icon-food icon-fixed-width"></i>Kebabs</a></li>

            <li class="divider"></li>
            <li><a href="/accounts"><i class="icon-gear icon-fixed-width"></i>Account</a></li>
            <li><a style="color: #5bb75b;" href="/help"><i class="icon-question-sign icon-fixed-width"></i>Help</a></li>
          </ul>
        </div>

{% endblock %}

{% block primary %}

<div class="span7 section-center">
	<ul class="breadcrumb">
		<!--	<li><a href="/notes/view-notes">Notes</a> <span class="divider">/</span></li>-->
	</ul>

	<div class="page-header">
		<h1>Home</h1>
	</div>
	<p>
	Search for notes
	<a href="/notes/view-notes">Search for notes</a>
	</p>
	<p>
	upload notes
	<a href="/notes/upload-notes">Upload notes</a>
	</p>
	<p>
	view groups
	<a href="/notes/view-groups">View Groups</a>
	</p>
	<p>
	create groups
	<a href="/notes/create-groups">Create Groups</a>
	</p>

</div>

{% endblock %}

{% block secondary %}


{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });
</script>

{% endblock %}

