{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}View Individual Note{% endblock %}

{% block primary %}
<form class="form-horizontal" method="post" action="/notes/create-report/" id="report-note">
	{% csrf_token %}
	<div id="modal-menu-item-1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-study-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modal-menu-item-1-header">Send Report</h3>
		</div>
		<div class="modal-body">
			<div id="modal-menu-item-1-main">
				<p>Report Content Violation Below:</p>
				<input type="hidden" name="note_id" value={{note.id}}>
				<textarea class="form-control input-xlarge" name="report_content" rows="6"></textarea>
				<p> We'll respond as quickly as we can!</p>
			</div>
		</div>
		<div class="modal-footer">
			<div id="modal-menu-item-1-actions-normal">
				<a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</a>
				<button type="submit" class="btn btn-scuess" onclick="ReportNote()"> Submit Report </button>
			</div>
		</div>
	</div>
</form>



<div class="span7 section-center">
          <ul class="breadcrumb">
          <li><a href="/notes">Notes</a> <span class="divider">/</span></li>
          <li><a href="/notes/view-notes">View Notes</a> <span class="divider">/</span></li>
		  <li class="active"> {{note.title}}</li>
          </ul>

          <div class="page-header">
            <h1>{{note.title}}</h1>
          </div>

          <div class="view-note">
            <img class="view-note-preview" src="http://placehold.it/250x250" style="border: 1px solid #999">


			<p class="view-note-actions"><a class="btn btn-success" href="{{note.note_file.url}}"><i class="icon-download"></i> Download</a> <a class="btn btn-primary" href="/notes/upload-notes"><i class="icon-share"></i> Extend </a> <a data-toggle="modal" class="btn btn-primary" href="#modal-menu-item-1"><i class="icon-ban-circle"></i> Report</a> </p>


			<p class="view-note-author">by <i class="icon-user"></i> <a href="#">{{note.uploader.first_name}} {{note.uploader.last_name}}</a> on <i class="icon-calendar"></i> {{note.upload_time| date:"F jS, Y" }}</p>
			<p>{{note.description}}</p>
            <p class="view-note-rating" style="display: inline;">Average rating: <div id="avg-rating" style="display: inline;"></div></p>
            

            <div class="clearfix"></div>

            <script type="text/javascript">
              var points = 5 * {{ note.download_count }} ;
              var line =" <p>These notes have earned the author <strong>" + String(points) + "</strong> points.</p>";
              document.write(line);
            </script>

			<p><i class="icon-tags"></i> Subject: <a href="#"><span class="label label-warning">{{note.course.code}}</span></a></p>
			<p><i class="icon-tags"></i> Lecturer: <a href="#"><span class="label label-warning">{{note.course.lecturer}}</span></a></p>
			<p class="view-note-tags"><i class="icon-tags"></i> Tags: 
			{% for tag in tags %} 
			
				<a href="#"><span class="label label-important">{{tag.tag}}</span></a> 
			{% endfor %}
            <hr>
            <form id="rating-form" class="comments-form" accept-charset="UTF-8" action="" method="POST">
                {% csrf_token %}

                <input name="note-id"style="display: none" class="span12" type="text"  value="{{ note.id }}">

                <p class="note-rating" style="display: inline;">Rate these notes: <div id="my-rating" style="display: inline;"></div></p>

                <button class="btn btn-success" style="display: inline;" type="submit" onclick="submitRating();">Submit Rating</button>

            </form> 
            <script>
                function submitRating() 
                {
                    document.forms["rating-form"].submit();
                }   
            </script>
            <!-- Comment form -->
            <form id="comments-form" class="comments-form" accept-charset="UTF-8" action="#" method="POST">
                {% csrf_token %}
                <input name="note-id"style="display: none" class="span12" type="text"  value="{{ note.id }}">

                <textarea id="comment-new-message" name="comment_new_message" placeholder="Post a comment or correction..." rows="4"></textarea>

                <button class="btn btn-success" type="submit" onclick="submitComment();">Post New Comment</button>
            </form>
            <script>
            function submitComment() 
            {
                document.forms["comments-form"].submit();
            }   
            </script>
            <!-- /Comment form -->

            <div class="clearfix"></div>
			{% for comment in comments %}
            <blockquote>
				<p>{{comment.comment_content}}</p>
				<small><a href="#">{{comment.given_by}}</a></small>
			</blockquote>
			{% endfor %}
          </div>
        </div>

{% endblock %}

{% block secondary %}
<div class="span3 section-right">
         {# I think we might want to put other course notes in this section but will be an extension type deal #}
<!--

          <ul class="nav nav-list nav-related-notes">
            <li class="nav-header">
              Related Notes
            </li>
            <li>
              <img class="related-note-preview" src="img/note-preview.png" alt="">
              <p class="related-note-title">ELEC3609: A Comprehensive Study Of Just How Fun XML Can Be</p>
              <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - Gian Johansen</small>
            </li>
            <li>
              <img class="related-note-preview" src="img/note-preview.png" alt="">
              <p class="related-note-title">ELEC3609: A Comprehensive Study Of Just How Fun XML Can Be</p>
              <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - Gian Johansen</small>
            </li>
            <li>
              <img class="related-note-preview" src="img/note-preview.png" alt="">
              <p class="related-note-title">ELEC3609: A Comprehensive Study Of Just How Fun XML Can Be</p>
              <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - Gian Johansen</small>
            </li>
            <li>
              <img class="related-note-preview" src="img/note-preview.png" alt="">
              <p class="related-note-title">ELEC3609: A Comprehensive Study Of Just How Fun XML Can Be</p>
              <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - Gian Johansen</small>
            </li>
            <li>
              <img class="related-note-preview" src="img/note-preview.png" alt="">
              <p class="related-note-title">ELEC3609: A Comprehensive Study Of Just How Fun XML Can Be</p>
              <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - Gian Johansen</small>
            </li>
            <li>
              <p class="related-note-title">See more...</p>
            </li>
          </ul>
          <hr style="margin-left: 15px;">
-->
          {# Extensions #}

          <ul class="nav nav-list nav-related-notes">
            <li class="nav-header">
              Extensions
            </li>
            {% if note.extends %}
              <li>
                <img class="related-note-preview" src="img/note-preview.png" alt="">
                <p class="related-note-title">{{note.extends.Title}}</p>
                <small class="related-note-author"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-half-empty"></i> - {{ note.extends.uploader.first_name}}  {{ note.extends.uploader.last_name}}</small>
              </li>
            {% endif %}

          </ul>
</div>

{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();

  
  function ReportNote() 
  {
	  document.forms["report-note"].submit();
  }   
</script>

{% if rating %}
    <script>
      $('#avg-rating').raty({ score: {{rating}}, readOnly: true });
    </script>
{%else %}
    <script>
      $('#avg-rating').raty({ score: 0, readOnly: true });
    </script>
{% endif %}

{% endblock %}
