{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}View Individual Group - {{group.name}}{% endblock %}

{% block primary %}
<!-- Create Message -->
<form class="form-horizontal" method="post" action="/notes/send-message/" id="send_message">
	{% csrf_token %}
	<div id="modal-menu-item-1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-study-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modal-menu-item-1-header">Send Message</h3>
		</div>
		<div class="modal-body">
			<div id="modal-menu-item-1-main">
				<p>Send to:</p>
				<input type="text" id="search-include" name="recipient" class="input-xlarge">

				<p>Title:</p>
				<input type="text" id="search-include" name="title" class="input-xlarge">

				<p>Message:</p>
				<textarea class="form-control input-xlarge" name="message" rows="6"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<div id="modal-menu-item-1-actions-normal">
				<a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</a>
				<button type="submit" class="btn btn-success" onclick="sendMessage()"> Send Message </button>
			</div>
		</div>
	</div>
</form>
<!-- End Message -->

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/notes">Notes</a> <span class="divider">/</span></li>
		<li><a href="/notes/view-groups">View Groups</a> <span class="divider">/</span></li>
		<li class="active">{{group.name}}</li>
	</ul>

	<div class="page-header">
		<h1>{{group.name}}</h1>
	</div>
	
	<a class="btn btn-primary" data-toggle="modal" href="#modal-menu-item-1"><i class="icon-envelope-alt"></i> Send Message</a>
	<a class="btn btn-primary" href="/notes/upload-notes"><i class="icon-upload"></i> Upload Note</a>
	<a class="btn btn-danger" onclick="leaveGroup()" href="#"><i class="icon-remove-circle"></i> Leave Group</a>

	<form class="form-horizontal" method="post" action="/notes/leave-group/" id="leave_group">
		{% csrf_token %}
	<input type="hidden" value = "{{group.id}}" name="group_id">	
	</form>
	<hr>
	
	<h3>Group Notes</h3>
	
		<div class="upload-table">
		
				{% if notes %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="uploaded-table-title">Title</th>
                            <th class="uploaded-table-col">Upload Date</th>
                            <th class="uploaded-table-col">Downloads</th>
                            <th class="uploaded-table-col">Actions</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for note in notes %}
                            <tr>    
                                {# title #}
                                <td>
                                    <form id="form-goto-note-{{note.id}}" action="/notes/view-individual-note/" method="post">
                                        {% csrf_token %}
                                        <input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
                                        <a href="#" onclick="submitGoToNoteId({{note.id}});">
                                            {{note.title}}
                                        </a>
                                    </form>
                                </td>
                                {# upload date #}
                                <td>{{note.upload_time}}</td>
                                {# download count #}
                                <td>{{note.download_count}}</td>
                                {# action buttons #}
                                <td>
									{% if request.user.id == note.uploader.id %}
									<form id="form-edit-note" action="/notes/edit-note/" method="post">
										{% csrf_token %}
                                        <input style="display: none" class="span12" type="text" name="note_id" value="{{ note.id }}">
										<a href="#" onclick="submitEditNote({{note.id}});"><i  class="icon-edit"></i> Edit</a><br>
									</form>
                                    <form id="form-delete-note" action="/notes/delete-note/" method="post">
                                        {% csrf_token %}
                                        <input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
										<a href="#" onclick="submitDeleteNote();" class="icon-ban-circle"> Remove </a>
                                    </form>
									{% else %}
									
									{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p> No notes uploaded </p>
                {% endif %}
			</div>
		
</div>

{% endblock %}

{% block secondary %}

<div class="span3 section-right">
	<ul class="nav nav-list nav-related-notes">
		<li class="nav-header">
		GROUP DETAILS
		</li>
		<li>
		<p>title: {{group.name}}</p>
		</li>
		<li>
		<p>description: {{group.description}}</p>
		</li>
		<li>
		<p>date created: {{group.created_since}}</p>
		</li>
		<li>
		<hr>
		</li>		
		<li class="nav-header">
		GROUP MEMBERS
		</li>
		{% for member in group.members.all %}
		<li>
		<!--<img style="float: none" class="nav-avatar" src="{{MEDIA_URL}}{{profile.Profile_picture}}">--><p style="display: inline"><a href="/notes/view-individual-user/{{member.id}}">{{member.first_name}} {{member.last_name}}</a></p>
		</li>
		{% endfor %}
		{% comment %}
		{% for profile in profiles %}
		<li>
		<img style="float: none" class="nav-avatar" src="{{MEDIA_URL}}{{profile.Profile_picture}}"><p style="display: inline"><a href="/notes/view-individual-user/{{profile.User_associated.id}}">{{profile.User_associated.first_name}} {{profile.User_associated.last_name}}</a></p>
		</li>
		{% endfor %}
		{% endcomment %}
	</ul>
</div>

{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });

	function sendMessage()
	{
		document.forms["send_message"].submit()
	}
	function submitEditNote() 
	{
		document.forms["form-edit-note"].submit();
	}
	function submitDeleteNote() 
	{
		document.forms["form-delete-note"].submit();
	}
	function leaveGroup() 
	{
		document.forms["leave_group"].submit();
	}
	function submitGoToNoteId(noteid) 
	{
	document.forms["form-goto-note-" + noteid].submit();
	}   
</script>

{% endblock %}

