{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}View Individual Group - {{group.name}}{% endblock %}

{% block primary %}
<!-- Create Message -->
<form class="form-horizontal" method="post" action="/notes/send-group-message/" id="send_message-{{group.id}}">
	{% csrf_token %}
	<div id="modal-menu-item-1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-study-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modal-menu-item-1-header">Send Message</h3>
		</div>
		<div class="modal-body">
			<div id="modal-menu-item-1-main">
				<!-- <p>Send to:</p> -->
				<input type="text" style="display: none;" id="search-include" name="recipient" value={{group.id}}>

				<p>Title:</p>
				<input type="text" id="search-include" name="title" class="input-xlarge">

				<p>Message:</p>
				<textarea class="form-control input-xlarge" name="message" rows="6"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<div id="modal-menu-item-1-actions-normal">
				<a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</a>
				<button type="submit" class="btn btn-success" onclick="sendMessage({{group.id}})"> Send Message </button>
			</div>
		</div>
	</div>
</form>
<!-- End Message -->

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/notes">Notes</a> <span class="divider">/</span></li>
		<li><a href="/notes/view-groups">View Groups</a> <span class="divider">/</span></li>
		<li class="active">{{group.name}}</li>
	</ul>

	<div class="page-header">
		<h1>{{group.name}}</h1>
	</div>
	
	<a class="btn btn-primary" data-toggle="modal" href="#modal-menu-item-1"><i class="icon-envelope-alt"></i> Send Message</a>
	<a class="btn btn-primary" href="/notes/upload-notes"><i class="icon-upload"></i> Upload Note</a>
	<a class="btn btn-danger" onclick="leaveGroup()" href="#"><i class="icon-remove-circle"></i> Leave Group</a>

	<form class="form-horizontal" method="post" action="/notes/leave-group/" id="leave_group">
		{% csrf_token %}
	<input type="hidden" value = "{{group.id}}" name="group_id">	
	</form>
	<hr>
	
	<h3>Group Notes</h3>
	
	<div class="upload-table">

		{% if notes %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="uploaded-table-title">Title</th>
					<th class="uploaded-table-col">Upload Date</th>
					<th class="uploaded-table-col">Downloads</th>
					<th class="uploaded-table-col">Actions</th>
				</tr>
			</thead>
			<tbody> 
				{% for note in notes %}
				<tr>    
					{# title #}
					<td>
						<form id="form-goto-note-{{note.id}}" action="/notes/view-individual-note/" method="post">
							{% csrf_token %}
							<input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
							<a href="#" onclick="submitGoToNoteId({{note.id}});">
								{{note.title}}
							</a>
						</form>
					</td>
					{# upload date #}
					<td>{{note.upload_time}}</td>
					{# download count #}
					<td>{{note.download_count}}</td>
					{# action buttons #}
					<td>
						{% if request.user.id == note.uploader.id %}
						<a href="#" onclick="submitEditNote({{note.id}});"><i  class="icon-edit"></i> Edit</a><br>
						<a href="#" onclick="submitDeleteNote({{note.id}});" class="icon-remove"> Remove </a>
						<form id="form-edit-note-{{note.id}}" action="/notes/edit-notes/" method="post">
							{% csrf_token %}
							<input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
						</form>
						<form id="form-delete-note-{{note.id}}" action="/notes/delete-note/" method="post">
							{% csrf_token %}
							<input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
						</form>
						{% else %}

						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p> No notes uploaded </p>
		{% endif %}
	</div>
	<hr>
	
	<h3>Group Messages</h3>
	
	<div class="upload-table">

		{% if messages %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th >From</th>
					<th >Title</th>
					<th >Message</th>
					<th >When</th>
				</tr>
			</thead>
			<tbody> 
				{% for message in messages %}
				<tr>    
					<td>{{message.sender}}</td>
					<td>{{message.title}}</td>
					<td>{{message.message}}</td>
					<td>{{message.message_time}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p> No messages sent </p>
		{% endif %}
	</div>

</div>

{% endblock %}

{% block secondary %}

<div class="span3 section-right group-members">
	<ul class="nav nav-list nav-related-notes">
		<li class="nav-header">
		GROUP DETAILS
		</li>
		<li>
		<p>title: {{group.name}}</p>
		</li>
		<li>
		<p>description: {{group.description}}</p>
		</li>
		<li>
		<p>date created: {{group.created_since}}</p>
		</li>
		<li>
		<hr>
		</li>		
		<li class="nav-header">
		GROUP MEMBERS
		</li>
		{% for profile in profiles %}
		<li>
		{% if request.user.id == group.creator.id %}
		<img style="float: none" class="nav-avatar" src="{{MEDIA_URL}}{{profile.Profile_picture}}"><p style="display: inline"><a href="/notes/view-individual-user/{{profile.User_associated.id}}">{{profile.User_associated.username}}</a></p><a style="display: inline"href="#" onclick="deleteMember({{profile.User_associated.id}});"><i class="icon-remove pull-right"></i></a>
		{% else %}
		
		<img style="float: none" class="nav-avatar" src="{{MEDIA_URL}}{{profile.Profile_picture}}"><p style="display: inline"><a href="/notes/view-individual-user/{{profile.User_associated.id}}">{{profile.User_associated.username}}</a></p>
		{% endif %}
		</li>
		<form action="/notes/delete-member/" method="post" id="delete-member-{{profile.User_associated.id}}">
		{% csrf_token %}
			<input type="hidden" name="member_id" value="{{profile.User_associated.id}}">		
			<input type="hidden" name="group_id" value="{{group.id}}">		
		</form>		
		{% endfor %}
	</ul>
</div>

	<script>
function deleteMember(memberid)
{
	document.forms["delete-member-"+memberid].submit()
}
</script>

{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });

	function sendMessage(groupid)
	{
		document.forms["send_message-" + groupid].submit()
	}
	function submitEditNote(noteid) 
	{
		document.forms["form-edit-note-"+noteid].submit();
	}
	function submitDeleteNote(noteid) 
	{
		document.forms["form-delete-note-"+noteid].submit();
	}
	function leaveGroup() 
	{
		document.forms["leave_group"].submit();
	}
	function submitGoToNoteId(noteid) 
	{
	document.forms["form-goto-note-" + noteid].submit();
	}   
</script>

{% endblock %}

