{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}View Notes{% endblock %}

{% block primary %}

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/notes/view-notes">Notes</a> <span class="divider">/</span></li>
	</ul>

	<div class="page-header">
		<h1> View Notes</h1>
	</div>
	<p> This is a list of notes that you can access </p>
	{% if notes %}
		{% for note in notes %}
			<form id="form-note-{{note.id}}" action="/notes/view-individual-note/" method="post">
				{% csrf_token %}
				<input style="display: none" class="span12" type="text" name="note-id" value="{{ note.id }}">
				<a href="#" onclick="submitNoteId({{note.id}});" class="btn btn-success">
					{{note.id}}:{{note.title}}
				</a>
			</form>
			<script>
			function submitNoteId(noteid) 
			{
				document.forms["form-note-" + noteid].submit();
			}	
			</script>
		{% endfor %}
	{% else %}
		<p> Unfortunetly you do not have any notes would you like to upload some? </p>
		<!-- link to appropiate upload page -->

	{% endif %}



</div>

{% endblock %}

{% block secondary %}


{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });
</script>

{% endblock %}

