
<!-- Left navigation -->
<div class="span2 section-left">
  <ul class="nav nav-list">
	
	<li class="nav-header">Account</li>
	<li><a href="http://www.studydrone.com/accounts"><i class="icon-home icon-fixed-width"></i>Home</a></li>
	<li><a href="http://www.studydrone.com/accounts/get/{{request.user.id}}"><i class="icon-gear icon-fixed-width"></i>Settings</a></li>
	<li><a href="http://www.studydrone.com/accounts/points-history"><i class="icon-bar-chart icon-fixed-width"></i>Points History</a></li>

	<li class="divider"></li>
	<li><a style="color: #da4f49;" href="http://www.studydrone.com/accounts/delete-account"><i class="icon-remove-sign icon-fixed-width"></i>Delete Account</a></li>

	<li class="divider"></li>
	<li><a style="color: #5bb75b;" href="http://www.studydrone.com/help"><i class="icon-question-sign icon-fixed-width"></i>Help</a></li>
  </ul>
</div>
<!-- /left navigation-->
