{% extends 'base.html' %}

{% block navbar %}
{% include 'accounts/navbar_accounts.html' %}
{% endblock %}

{% block menu %}
{% include 'accounts/accounts_menu.html' %}
{% endblock %}

{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
  <ul class="breadcrumb">
  <li><a href="http://www.studydrone.com/accounts">Account Management</a> <span class="divider">/</span></li>
  <li class="active">Delete Account</li>
  </ul>

  <div class="page-header">
	<h1>Delete Account</h1>
  </div>

  <p>From this page you can delete your StudyDrone account for good. Remember that you can contact StudyDrone at any time <a href="#">via email</a> if you have concerns or questions.</p>
  <p>Note that <strong>this is permanent and irreversible</strong>. 
  	<!-- To protect user privacy we completely purge deleted account data from our system. -->
  </p>
  <p><strong>Type 'I WANT OUT' below to confirm that you want to delete your account.</strong></p>
	
	<form class="form-horizontal" id="delete_form" action="." method="post">
		<fieldset>
			<div style="text-align: center;">
			<input style="margin: 24px 0 12px 0;" id="delete-field" name="deleteField" type="text" placeholder="We'll miss you!" class="input-large">
			<br>
			<!-- <a href="/accounts/delete/{{request.user.id}}" class="btn btn-danger" style="float: none;">Delete My Account</a> -->
			<input id="match" onclick="matchDeleteForm();" type="submit" class="btn btn-danger" value="Delete My Account" />
			</div>
		</fieldset>
    </form>
  

</div>
<script type="text/javascript">
function matchDeleteForm() {
	// var input = document.forms['delete_form'].deleteField.value;
	// var str = 'I WANT OUT';
	// var match = input.match(/str/g);

	// ensure user only put in I WANT OUT once
	if(document.forms['delete_form'].deleteField.value == 'I WANT OUT')
		window.location.href = '/accounts/delete-user';
		
	else
		alert("You did not want out after all!");
}
</script>
<!-- /main -->
{% endblock %}

{% block functions %}

{% endblock %}
