{% extends 'base.html' %}

{% block navbar %}
{% include 'accounts/navbar_accounts.html' %}
{% endblock %}

{% block menu %}
	{% include 'accounts/accounts_menu.html' %}
{% endblock %}

{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
	<ul class="breadcrumb">
		<li>
		<a href="http://www.studydrone.com/accounts">
			Account Management
		</a>

		<span class="divider">
			/
		</span>
		</li>
	</ul>
	<div class="page-header">
		<h1>
		Home
		</h1>
	</div>
	<h3>
		{% if profile.Points > 100 %}
	You have {{profile.Points}} points! Spend them wisely!
	{% else %}
	Contribute more to get more points!
	{%endif%}
	</h3>
</div>
<!-- /main -->
{% endblock %}

{% block functions %}
{% endblock %}
