{% extends 'base.html' %}

{% block menu %}
{% include 'accounts/accounts_menu.html' %}
{% endblock %}

{% block primary %}
<!-- Main content -->
<div class="span7 section-center">
  <ul class="breadcrumb">
  <li><a href="http://www.studydrone.com/accounts">Account Management</a> <span class="divider">/</span></li>
  <li class="active">Points History</li>
  </ul>

  <div class="page-header">
	<h1>Points History</h1>
  </div>

 <p> Points History stuff </p> 

</div>
<!-- /main -->
{% endblock %}

{% block functions %}
{% endblock %}
