{% extends 'base.html' %}



{% block navbar %}
{% include 'accounts/navbar_accounts.html' %}
{% endblock %}

{% block menu %}
	{% include 'accounts/accounts_menu.html' %}
{% endblock %}



{% block primary %}

<!-- Main content -->
<div class="span7 section-center">
	<ul class="breadcrumb">
		<li>
		<a href="http://www.studydrone.com/accounts">
			Account Management
		</a>

		<span class="divider">
			/
		</span>
		</li>

		<li>Settings<span class="divider">/</span></li>
		
  
		
		<li class="active">
		Avatar
		</li>
		
  
	</ul>
	<div class="page-header">
		<h1>
			Avatar settings
		</h1>
	</div>
	<p>
	From this page you can manage your profile picture.
	<br>
	
	</p>

<form action=".", id="profile_form", method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% if img %} <p><img border="0" alt="Profile picture" src="{{img}}"></p>{% endif %}
	<div class="control-group">
		<div class="controls">
			<label class="control-label" for="avatar">Avatar:</label>
			{{ form.as_p }}
			<p class="help-block">
			This is your avatar.
			</p>
		</div>
	</div>
	
	<button type="reset" class="btn" onclick="cancel()">Cancel</button>
	<button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
</form>

<script>
function submitForm() 
{
	document.forms["profile_form"].submit();
}

function cancel()
{
	c = confirm("Do you really want to cancel?")
	if(c == true)
		window.location.href = "/accounts/get/{{request.user.id}}";
	else
		return false;
}
</script>
{% endblock %}