{% extends 'base.html' %}

{% block menu %}
<!-- Left navigation -->
<div class="span3 section-left">
	<div class="span2 section-left">
	  <ul class="nav nav-list">
		
		<li class="nav-header">Signup Process</li>
		<li ><a onClick="usrPrev(); return false;" href="#" id="info-account-details">1: Account Details</a>Enter the details you'll use to access the website.</li>

		<li class="divider"></li>
		<li><a onClick="accNext(); return false;" href="#" id="info-user-details">2: User Details</a>Enter your personal details and your degree information</li>
	  </ul>
	</div>
</div>
<!-- /left navigation-->
{% endblock %}

{% block primary %}
<!-- Main content -->
<div class="span6 section-center">

  <div class="page-header">
	<h1>Signup</h1>
  </div>

  <p>Hi! Before we let you in we'll need a few of your details. We'll also need to make sure you're in the faculty.</p>

  <!-- Settings form -->
  <form class="form-horizontal" method="post" action="." id="registration_form">
  	{% csrf_token %}
	<fieldset>
 	{{ profile_form.non_field_errors }}
 	{{ user_form.non_field_errors }}
	  <div id="account-details">
 
		  <h3>Account Details</h3>
		  
		  <div class="control-group">
		  	
			  <label class="control-label" for="unikey">Unikey</label>

			  <div class="controls">
				 {{profile_form.Unikey}}
				  <p class="help-block">This will be used to log in to your account.</p>
				  <strong><p class="help-block">{{ profile_form.Unikey.errors }}</p></strong>
			  </div>
		  </div>

		  <!-- Email input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-email">Email</label>
			  <div class="controls">
				 {{user_form.email}}
				  <p class="help-block">This will be used to log in to your account.</p>
				  <strong><p class="help-block">{{ user_form.email.errors }}</p></strong>

			  </div>
		  </div>
		  
		  <!-- Displayname input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-username">Username</label>
			  <div class="controls">
			  	{{user_form.username}}
				 <p class="help-block">This will be how other users see you.</p>
				 <strong><p class="help-block">{{ user_form.username.errors }}</p></strong>
			  </div>
		  </div>
		  
		  <!-- Password 1 input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-password1">Password</label>
			  <div class="controls">
				  {{user_form.password1}}
				  <strong><p class="help-block"> {{user_form.password1.errors}}</p></strong>
			  </div>
			  
		  </div>
		  <!-- Password 2 input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-password2">Confirm Password</label>
			  <div class="controls">
				  {{user_form.password2}}
				  <p class="help-block">These two fields must be the same.</p>
				  <strong><p class="help-block"> {{user_form.password2.errors}}</p></strong>
			  </div>
			  
		  </div>

		  <div class="form-actions">
			  <button onClick="accNext()" class="btn btn-primary">Next</button>
		  </div>
		  
	  </div>
	  
	  <div id="user-details" style="display: none">
	  
		  <h3>User Details</h3>
		  
		  <!-- First name input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-first_name">First name</label>
			  <div class="controls">
			  	{{user_form.first_name}}
			  	<strong><p class="help-block"> {{user_form.first_name.errors}}</p></strong>
			  </div>
			  

		  </div>
		  <!-- Surname input-->
		  <div class="control-group">
			  <label class="control-label" for="id_user_form-last_name">Last name</label>
			  <div class="controls">
				  {{user_form.last_name}}
				  <p class="help-block">Your real name will not be visible to other users.</p>
				   <strong><p class="help-block"> {{user_form.last_name.errors}}</p></strong>
			  </div>
			 

		  </div>
		  
		  <!-- Degree input-->
		  <div class="control-group">
			  <label class="control-label" for="id_profile_form-Degree">Degree</label>
			  <div class="controls">
				  {{profile_form.Degree}}
				  <p class="help-block">No ISYS people allowed. Just because.</p>
				  <strong><p class="help-block"> {{profile_form.Degree.errors}}</p></strong>
			  </div>
			  

		  </div>
		  <div class="control-group">
			<label class="control-label" for="id_profile_form-Year_first_enrolled">Year Enrolled</label>
			<div class="controls">
				  {{profile_form.Year_first_enrolled}}
				  <p class="help-block">This is the year that you started at USYD.</p>
				  <strong><p class="help-block"> {{profile_form.Year_first_enrolled.errors}}</p></strong>
			</div>
			

		  </div>
		  
		  <!-- submit/cancel buttons -->
		  <div class="form-actions">
			<button onClick="usrPrev()" class="btn">Wait, that's wrong!</button>
			<button type="submit" class="btn btn-primary" onclick="submitRegistrationForm()">OK, let me in!</button>
		  </div>
	  
	  </div>
	</fieldset>
  </form>
</div>
{% endblock %}

{% block secondary %}

<div class="span3 section-right">
<p> </p>
</div>
{% endblock %}

{% block functions %}
<script>
function accPrev() { 
}
function accNext() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'block'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "bold");
}
function usrPrev() { 
	document.getElementById('account-details').style.display = 'block'; 
	document.getElementById('user-details').style.display = 'none'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "bold");
	jQuery('#info-user-details').css("font-weight", "300");
}
function usrNext() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'none'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "300");
	
	// fill confirmation form
	document.getElementById('confirm-email').innerHTML = document.getElementById('email').value; 
	document.getElementById('confirm-displayname').innerHTML = document.getElementById('displayname').value; 
	var password_stars = "";
	for (var i = 0; i < document.getElementById('password1').value.length; i++)
		password_stars = password_stars + "●";
	document.getElementById('confirm-password').innerHTML = password_stars; 
	document.getElementById('confirm-firstname').innerHTML = document.getElementById('firstname').value; 
	document.getElementById('confirm-surname').innerHTML = document.getElementById('surname').value; 
	document.getElementById('confirm-degree').innerHTML = document.getElementById('degree').value; 
	document.getElementById('confirm-year').innerHTML = document.getElementById('year-enrolled-selector').value; 
}
function conPrev() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'block'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "bold");
}
function submitRegistrationForm() 
{
	document.forms["registration_form"].submit();
}
</script>
{% endblock %}
