{% extends 'base.html' %}

{% block page-title %}Index{% endblock %}

{% block menu %}

<div class="offset4 span3 section-center">
		<center><h2>Login</h2></center>

		
		<form action="." method="post" id="login">
		{% csrf_token %}		
				<div class="row-fluid">
						<div class="span12">
								<label>Username</label>
								<input class="span12" type="text" placeholder="Enter your username..." name="username">
						</div>
				</div>
				<div class="row-fluid">
						<div class="span12">
								<label>Password</label>
								<input class="span12" type="password" placeholder="Enter your password..." name="password">
						</div>
				</div>
				<div class="row-fluid" style="margin-top: 12px;">
						<div class="offset3 span6">
								<button class="span12 btn btn-small btn-info" type="submit" onclick="submitForm()"><strong>Login</strong></button>
						</div>
				</div>
				
				<br>

				{% if errors %}
				<ul>
					{% for error in errors %}
					<li> {{ error }} </li>
					{% endfor %}
				</ul>
				{% endif %}
				<br>

				<center><h5 class="prompt-account-creation">Don't have an account? <a href="signup/"><strong>Create one now.</strong></a></h5></center>
			
		</form>

		<script>
				function submitForm() 
				{
						document.forms["login"].submit();
				}
		</script>	

		<style> .footer { display: none } </style>
</div>

{% endblock %}

