{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>StudyDrone - University of Sydney</title>

    <link href="{% static 'common/css/bootstrap-legacy.css' %}" rel="stylesheet">
    <link href="{% static 'common/css/main.css' %}" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="{% static 'common/js/jquery-legacy.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap-legacy.js' %}"></script>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>STUDYDRONE</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Intro</a></li>
	            <li><a href="#features" class="smothscroll">How does it work?</a></li>
	            <li><a href="#contact" class="smothScroll">Request An Invite</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
			      <li><form class="navbar-form navbar-left">
			      <a href="#login-modal-notes" role="button" data-toggle="modal" style="background-color: #D2315D; border-color: #fff" class="btn btn-primary">Login</a>
			    </form></li>
			  </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>STUDYDRONE</h1>
					<h3>A collaborative learning experience for University of Sydney engineers.</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    			<h5>Learn as a team</h5>
	    			<p>Find and download notes from other students in your course, and upload your own!</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="{% static 'common/images/arrow1.png' %}">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="{% static 'common/images/studydroneaction.png' %}" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="{% static 'common/images/arrow2.png' %}">
	    			<h5>Earn amazing rewards</h5>
	    			<p>Contribute to the community and earn points that can be redeemed for campus-wide food delivery!</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">How does it work?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="{% static 'common/images/studydrone_mobile.png' %}" alt="">
				</div>
				
				<div class="col-lg-6">
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <h3>
		                        The notes you need, when you need them
		                        </h3>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>You're not alone at Usyd and your studying should reflect that. Studydrone lets you find and download notes for all your courses, uploaded by your talented peers and sorted by relevancy and quality to suit your courses. And when you're ready, spread the love by uploading your own notes in turn.
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <h3>
		                        Glory and riches await, just for you
		                        </h3>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>The more you participate on the site, the more points you're awarded. You earn points just for using the site, like when you rate someone elses notes or when you act in a group. Users who consistently upload high-quality notes are rewarded fastest, so you can be sure that your efforts won't go to waste!</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <h3>
		                        Getting your kebab fix has never been so easy
		                        </h3>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>We've always thought the walk to Wentworth was overrated. Instead, have Uni Bros come to <em>you</em> with their delicious range. Order a kebab from them and they'll deliver straight to the engineering district within 20 minutes. And because we like you so much, we've talked them into not charging for delivery.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		                
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <h3>
		                        Redeem your points for a free lunch
		                        </h3>
		                    </div>
		                    <div id="collapseFour" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>We promised all those points would come in handy, and we've definitely <em>delivered</em>. Your points can now be cashed in on our website in exchange for free food from Uni Bros! Eventually we'll be partnering with other campus retail outlets but for now, why not enjoy some free kebabs, on us?</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->

	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>The Team</h3>
				<p>
				Hari Bhrugubanda<br/>
				Gian Johansen<br/>
				Ahmed Alqahtani<br/>
				Aaron Lee<br/>
				Givanna Haryono
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>Request An Invite</h3>
				<br>
				<form role="form" action="" method="post" enctype="plain"> 
					{% csrf_token %}		
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Your Email</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Email">
				  </div>
				  <div class="form-group">
				  	<label>Why do you want in?</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-primary">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>

	<div id="login-modal-notes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Login</h3>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="login_notes">	
					{% csrf_token %}		
					<input style="display:none;" name="redirect" value="notes">
					<div class="row-fluid">
						<div class="span12">
							<label>Username</label>
							<input class="span12" type="text" placeholder="Enter your username..." name="username">
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<label>Password</label>
							<input class="span12" type="password" placeholder="Enter your password..." name="password">
						</div>
					</div>
					<div class="row-fluid" style="margin-top: 12px;">
						<div class="offset3 span6">
							<button id="login-button" class="span12 btn btn-small btn-primary" type="submit"><strong>Login</strong></button>
						</div>
					</div>
				</form>
			</div>
		</div>
  </body>
</html>