{% load staticfiles %}
<!DOCTYPE html>

<!--

(\   /)
\\_ _//
0 0 ______
=(_T_)=     )*
/"/   (  /
<_<_/-<__|

Please don't steal my code. If your group needs frontend help you can just ask me.
~gian

-->

<html lang="en">

		<head>

				<!-- Meta -->
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<meta charset="utf-8">
				<title>Home</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="">
				<meta name="author" content="">

				<!-- Fonts -->
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

				<!-- CSS -->
				<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
				<link rel="stylesheet" type="text/css" href="{% static 'notes/css/bootstrap-overrides.css' %}">
				<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

				<!-- CSS is weird -->
				<style>
						body
						{
						padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
						}
				</style>

				<!-- IE Support -->
				<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
				<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
				<![endif]-->
		</head>

		<body data-spy="scroll" data-target=".subnav" data-offset="50" screen_capture_injected="true">

				<div class="container main-content">
						<div class="row">

								<!-- Main content -->
								<div class="span3 section-center">

										<h4>Done for deliverable 2:</h4>
										<ul class="nav nav-pills nav-stacked">
												<li><a href="">index</a></li>
												<li><a href="/notes">view note</a></li>
												<li><a href="/kebabs">view order</a></li>
												<li><a href="settings.html">settings</a></li>
										</ul>

								</div>
								<!-- /main -->

						</div>
						<!-- /row -->

						<!-- Footer
						================================================== -->
						<footer class="footer">
						<p>Designed with <span style="color:#ff7878"><i class="icon-heart-empty"></i></span> for Frank Moisiadis.</p>
						</footer>

				</div>
				<!-- /container -->

				<!-- JS -->
				<script type="text/javascript" src="{% static 'notes/js/jquery-1.8.0.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-tooltip.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-alert.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-button.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-carousel.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-collapse.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-dropdown.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-modal.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-popover.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-scrollspy.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-tab.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-transition.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/bootstrap-typeahead.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/jquery.validate.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/jquery.validate.unobtrusive.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/jquery.unobtrusive-ajax.js' %}"></script>
				<script type="text/javascript" src="{% static 'notes/js/metro-docs.js' %}"></script>
		</body>
</html>
