{% extends 'base.html' %}

{% block menu %}
<!-- Left navigation -->
<div class="span3 section-left">
	<div class="span2 section-left">
	  <ul class="nav nav-list">
		
		<li class="nav-header">Signup Process</li>
		<li ><a onClick="usrPrev(); return false;" href="#" id="info-account-details">1: Account Details</a>Enter the details you'll use to access the website.</li>

		<li class="divider"></li>
		<li><a onClick="accNext(); return false;" href="#" id="info-user-details">2: User Details</a>Enter your personal details and your degree information</li>

		<li class="divider"></li>
		<li><a onClick="usrNext(); return false;" href="#" id="info-confirm-details">3: Confirm</a>Make sure we haven't made any mistakes and then submit!</li>
	  </ul>
	</div>
</div>
<!-- /left navigation-->
{% endblock %}

{% block primary %}
<!-- Main content -->
<div class="span6 section-center">

  <div class="page-header">
	<h1>Signup</h1>
  </div>

  <p>Hello there! Welcome to the world of POKéMON! My name is OAK! People call me the POKéMON PROF! This world is inhabited by creatures called POKéMON! For some people, POKéMON are pets. Others use them for fights. Myself… I study POKéMON as a profession. First, what is your name?</p>

  <!-- Settings form -->
  <form class="form-horizontal">
	<fieldset>
 
	  <div id="account-details">
 
		  <h3>Account Details</h3>
		  
		  <!-- Email input-->
		  <div class="control-group">
			  <label class="control-label" for="email">Email</label>
			  <div class="controls">
				  <input id="email" name="email" type="text" placeholder="gjoh3342@uni.sydney.edu.au" class="input-xlarge">
				  <p class="help-block">This will be used to log in to your account.</p>
			  </div>
		  </div>
		  
		  <!-- Displayname input-->
		  <div class="control-group">
			  <label class="control-label" for="displayname">Display name</label>
			  <div class="controls">
				  <input id="displayname" name="displayname" type="text" placeholder="Gian Johansen"
				  class="input-xlarge">
				  <p class="help-block">This will be how other users see you.</p>
			  </div>
		  </div>
		  
		  <!-- Password 1 input-->
		  <div class="control-group">
			  <label class="control-label" for="password1">Password</label>
			  <div class="controls">
				  <input id="password1" name="password1" type="text" placeholder="●●●●●●●●"
				  class="input-xlarge">
			  </div>
		  </div>
		  <!-- Password 2 input-->
		  <div class="control-group">
			  <label class="control-label" for="password2">Confirm Password</label>
			  <div class="controls">
				  <input id="password2" name="password2" type="text" placeholder="●●●●●●●●"
				  class="input-xlarge">
				  <p class="help-block">These two fields must be the same.</p>
			  </div>
		  </div>

		  <div class="form-actions">
			  <button onClick="accPrev()" class="btn disabled">Previous</button>
			  <button onClick="accNext()" class="btn btn-primary">Next</button>
		  </div>
		  
	  </div>
	  
	  <div id="user-details" style="display: none">
	  
		  <h3>User Details</h3>
		  
		  <!-- First name input-->
		  <div class="control-group">
			  <label class="control-label" for="firstname">First name</label>
			  <div class="controls">
				  <input id="firstname" name="firstname" type="text" placeholder="Gian"
				  class="input-xlarge">
			  </div>
		  </div>
		  <!-- Surname input-->
		  <div class="control-group">
			  <label class="control-label" for="surname">Surname</label>
			  <div class="controls">
				  <input id="surname" name="surname" type="text" placeholder="Johansen"
				  class="input-xlarge">
				  <p class="help-block">Your real name will not be visible to other users.</p>
			  </div>
		  </div>
		  
		  <!-- Degree input-->
		  <div class="control-group">
			  <label class="control-label" for="degree">Degree</label>
			  <div class="controls">
				  <input id="degree" name="degree" type="text" placeholder="Engineering"
				  class="input-xlarge">
				  <p class="help-block">No ISYS people allowed. Just because.</p>
			  </div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="year-enrolled-selector">Year Enrolled</label>
			<div class="controls">
				  <select style="width: 284px;" class="input-xlarge" id="year-enrolled-selector">
					<option selected disabled hidden value=''></option>
					<option>2013</option>
					<option>2012</option>
					<option>2011</option>
					<option>2010</option>
					<option>2009</option>
					<option>2008</option>
					<option>2007</option>
					<option>2006</option>
					<option>2005</option>
					<option>2004</option>
					<option>2003</option>
					<option>2002</option>
					<option>2001</option>
					<option>2000</option>
					<option>Earlier</option>
				  </select>
				  <p class="help-block">This is the year that you started at USYD.</p>
			</div>
		  </div>

		  <div class="form-actions">
			  <button onClick="usrPrev()" class="btn">Previous</button>
			  <button onClick="usrNext()" class="btn btn-primary">Next</button>
		  </div>
		  
	  </div>
	  
	  <div id="confirm-details" style="display: none">
	  
		  <h3>Confirm Details</h3>
		  
		  <div class="control-group">
			  <label class="control-label">Email</label>
			  <div class="controls"> 
			  <label id="confirm-email" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  <div class="control-group">
			  <label class="control-label">Display Name</label>
			  <div class="controls"> 
			  <label id="confirm-displayname" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  <div class="control-group">
			  <label class="control-label">Password</label>
			  <div class="controls"> 
			  <label id="confirm-password" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  
		  <hr>
		  
		  <div class="control-group">
			  <label class="control-label">First name</label>
			  <div class="controls"> 
			  <label id="confirm-firstname" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  <div class="control-group">
			  <label class="control-label">Surname</label>
			  <div class="controls"> 
			  <label id="confirm-surname" class="checkbox">
				
			  </label>
			  </div>
		  </div>				  
		  <div class="control-group">
			  <label class="control-label">Degree</label>
			  <div class="controls"> 
			  <label id="confirm-degree" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  <div class="control-group">
			  <label class="control-label">Year Enrolled</label>
			  <div class="controls"> 
			  <label id="confirm-year" class="checkbox">
				
			  </label>
			  </div>
		  </div>
		  
		  <!-- submit/cancel buttons -->
		  <div class="form-actions">
			<button onClick="conPrev()" class="btn">Wait, that's wrong!</button>
			<button type="submit" class="btn btn-primary">OK, let me in!</button>
		  </div>
	  
	  </div>
	</fieldset>
  </form>
</div>
<!-- /main -->


<form class="form-horizontal" action="/SOMETHINGSOMETHINGSOMETHING/"  method="post">
{% csrf_token %}
		<fieldset>

				<div id="account-details">

						<h3>Account Details</h3>

						<!-- Email input-->
						<div class="control-group">
								<label class="control-label" for="email">Email</label>
								<div class="controls">
										<input id="email" name="email" type="text" placeholder="gjoh3342@uni.sydney.edu.au" class="input-xlarge">
										<p class="help-block">This will be used to log in to your account.</p>
								</div>
						</div>

						<!-- Displayname input-->
						<div class="control-group">
								<label class="control-label" for="displayname">Display name</label>
								<div class="controls">
										<input id="displayname" name="displayname" type="text" placeholder="Gian Johansen"
										class="input-xlarge">
										<p class="help-block">This will be how other users see you.</p>
								</div>
						</div>

						<!-- Password 1 input-->
						<div class="control-group">
								<label class="control-label" for="password1">Password</label>
								<div class="controls">
										<input id="password1" name="password1" type="text" placeholder="........"
										class="input-xlarge">
								</div>
						</div>
						<!-- Password 2 input-->
						<div class="control-group">
								<label class="control-label" for="password2">Confirm Password</label>
								<div class="controls">
										<input id="password2" name="password2" type="text" placeholder="........"
										class="input-xlarge">
										<p class="help-block">These two fields must be the same.</p>
								</div>
						</div>

				</div>


				<h3>User Details</h3>

				<!-- First name input-->
				<div class="control-group">
						<label class="control-label" for="firstname">First name</label>
						<div class="controls">
								<input id="firstname" name="firstname" type="text" placeholder="Gian"
								class="input-xlarge">
						</div>
				</div>
				<!-- Surname input-->
				<div class="control-group">
						<label class="control-label" for="surname">Surname</label>
						<div class="controls">
								<input id="surname" name="surname" type="text" placeholder="Johansen"
								class="input-xlarge">
								<p class="help-block">Your real name will not be visible to other users.</p>
						</div>
				</div>

				<!-- Degree input-->
				<div class="control-group">
						<label class="control-label" for="degree">Degree</label>
						<div class="controls">
								<input id="degree" name="degree" type="text" placeholder="Engineering"
								class="input-xlarge">
								<p class="help-block">No ISYS people allowed. Just because.</p>
						</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="year-enrolled-selector">Year Enrolled</label>
						<div class="controls">
								<select style="width: 284px;" class="input-xlarge" id="year-enrolled-selector">
										<option selected disabled hidden value=''></option>
										<option>2013</option>
										<option>2012</option>
										<option>2011</option>
										<option>2010</option>
										<option>2009</option>
										<option>2008</option>
										<option>2007</option>
										<option>2006</option>
										<option>2005</option>
										<option>2004</option>
										<option>2003</option>
										<option>2002</option>
										<option>2001</option>
										<option>2000</option>
										<option>Earlier</option>
								</select>
								<p class="help-block">This is the year that you started at USYD.</p>
						</div>
				</div>




				<!-- submit/cancel buttons -->
				<div class="form-actions">
						<button onClick="conPrev()" class="btn">Wait, that's wrong!</button>
						<button type="submit" class="btn btn-primary">OK, let me in!</button>
				</div>

		</fieldset>
</form>
{% endblock %}

{% block functions %}
<script>
function accPrev() { 
}
function accNext() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'block'; 
	document.getElementById('confirm-details').style.display = 'none'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "bold");
	jQuery('#info-confirm-details').css("font-weight", "300");
}
function usrPrev() { 
	document.getElementById('account-details').style.display = 'block'; 
	document.getElementById('user-details').style.display = 'none'; 
	document.getElementById('confirm-details').style.display = 'none'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "bold");
	jQuery('#info-user-details').css("font-weight", "300");
	jQuery('#info-confirm-details').css("font-weight", "300");
}
function usrNext() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'none'; 
	document.getElementById('confirm-details').style.display = 'block'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "300");
	jQuery('#info-confirm-details').css("font-weight", "bold");
	
	// fill confirmation form
	document.getElementById('confirm-email').innerHTML = document.getElementById('email').value; 
	document.getElementById('confirm-displayname').innerHTML = document.getElementById('displayname').value; 
	var password_stars = "";
	for (var i = 0; i < document.getElementById('password1').value.length; i++)
		password_stars = password_stars + "●";
	document.getElementById('confirm-password').innerHTML = password_stars; 
	document.getElementById('confirm-firstname').innerHTML = document.getElementById('firstname').value; 
	document.getElementById('confirm-surname').innerHTML = document.getElementById('surname').value; 
	document.getElementById('confirm-degree').innerHTML = document.getElementById('degree').value; 
	document.getElementById('confirm-year').innerHTML = document.getElementById('year-enrolled-selector').value; 
}
function conPrev() { 
	document.getElementById('account-details').style.display = 'none'; 
	document.getElementById('user-details').style.display = 'block'; 
	document.getElementById('confirm-details').style.display = 'none'; 
	
	// window.scrollTo(0, 0);
	
	jQuery('#info-account-details').css("font-weight", "300");
	jQuery('#info-user-details').css("font-weight", "bold");
	jQuery('#info-confirm-details').css("font-weight", "300");
}
</script>
{% endblock %}
