{% extends "notes/base_notes.html" %}

{% load staticfiles %}

{% block page-title %}View Groups{% endblock %}

{% block primary %}

<div class="span7 section-center">
	<ul class="breadcrumb">
		<li><a href="/notes/view-notes">Notes</a> <span class="divider">/</span></li>
		<li><a href="/notes/view-notes">View Groups</a> <span class="divider">/</span></li>
	</ul>

	<div class="page-header">
		<h1>Groups</h1>
	</div>
	This is where you can see the groups, loook at group private messages, create groups and find groups.

	List groups you're associated with here

	Find groups here

	Private messages on the side	

</div>

{% endblock %}

{% block secondary %}


{% endblock %}

{% block functions %}

<script>
  // set defaults
  $.fn.raty.defaults.half = true;
  $.fn.raty.defaults.hints = ['', '', '', '', ''];
  // bind divs
  $('#my-rating').raty();
  $('#avg-rating').raty({ score: 4.5, readOnly: true });
</script>

{% endblock %}

